.jumbotron {
  background-color: #809fff;
}
.done-true {
  text-decoration: line-through;
  color: gray;
}

.spin{
  position:relative;
}

h1{
  position: relative;
}

ul {
    list-style-position: inside;
    /* this allows the actual bullet points themselves to also align themselves within the div*/
}

.btn:hover {
  transition: 0.5s ease 0s;
  background-color: blue;
}

.btn-large:hover{
  transition: 0.5s ease 0s;
  background-color:green;
}

