.jumbotron {
  background-color: #809fff;
}
.done-true {
  text-decoration: line-through;
  color: gray;
}

.w{
  position:relative;
}

h1{
  position: relative;
}

ul {
    list-style-position: inside;
    /* this allows the actual bullet points themselves to also align themselves within the div*/
}